
.container {
    display: flex;
    flex-direction: column;
  }
  
   .container > * {
    width: 70%;
  } 

  .head-text{
      
      font-family: 'Gill Sans', 'Gill Sans MT';
      font-size: 40px;
      color:blue;
  }

  .text{
      font-family: Arial, Helvetica;
      font-size: 25px;
      color:grey;
  }

  .name{
    display: flex;
    flex-direction: row;

  }
  .name > * {
    width: 60%;
  }
  
  .main-card{
  
    border-radius:15px; 
    
    
}
.button-row button,
.button-row a {
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT'
}
 
