<div fxFlex>
  <div fxLayout="column wrap">
    <mat-toolbar color="primary" position="fixed" class="toolbar">
      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="30%" fxFlex.xs="40%">
        <div fxFlex=40%>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" ngStyle.md="float:left">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>
        <div fxFlex=60% fxFlex>
          <div fxFlex=60% fxHide.xs="true"><span>Fundoo Keep</span></div>
          <div fxFlex=40% fxHide.xl="true" fxHide.lg="true" fxHide.md="true" fxHide.sm="true"><span>Keep</span></div>
        </div>
      </div>


      <div fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.sm="20%" fxFlex.xs="20%" ngStyle.xs="flex:1 1 auto"
        ngStyle.xl="padding-left:50px" ngStyle.lg="padding-left:50px;padding-right:30px" ngStyle.md="padding-left:50px;padding-right:30px"
        flexLayout="row">
        <div ngStyle.xs="float:right;" ngStyle.lg="display:inline" ngStyle.xl="display:inline" ngStyle.md="display:inline"
          ngStyle.sm="float:right">
          <button type="button" mat-icon-button  class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div ngStyle.xs="visibility:collapse" ngStyle.lg="display:inline" ngStyle.xl="display:inline" ngStyle.md="display:inline"
          ngStyle.sm="visibility:collapse">
          <input type="text" placeholder="Search" class="notselected" [(ngModel)]="searchInput" (click)=searchClicked() (keyup)=passMessage()>
        </div>
      </div>

      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="40%" fxFlex.xs="40%">
        <div fxFlex="60%">
          <button type="button" mat-icon-button  class="refreshButton">
            <mat-icon>refresh</mat-icon>
          </button></div>
        <div fxFlex="20%">
          <button type="button" mat-icon-button  ngStyle.xs="visibility:collapse">
            <mat-icon>view_agenda</mat-icon>
          </button></div>
        <div fxFlex="20%">
          <button mat-mini-fab (click)="clicked=!clicked" class="profileButton" [ngStyle]="{'background-image':'url(' +imagepath+ ')','background-size':'cover'}"></button>
        </div>
      </div>
    </mat-toolbar>


    <mat-sidenav-container class="sidenav-container"  >
      <mat-sidenav #drawer class="sidenav"  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async)" [position]="start">
        <mat-nav-list>
          <a mat-list-item (click)=NoteClicked()><img src="../../../assets/notes.svg" class="svg"><span class="sideNotes">Notes</span></a>
          <a mat-list-item><img src="../../../assets/remainder.svg" class="svg"><span class="sideNotes">Remainders</span></a>
          <hr>
          <p class="label">Labels<button mat-button class="editButton"  (click)="openDialog()">EDIT</button></p>
          <a mat-list-item *ngFor="let label of labelArray" (click)="labelClicked(label)">
            <img src="../../../assets/label.svg" class="svg">
            <span class="sideNotes">{{label.label}}</span></a>
          <a mat-list-item (click)="openDialog()"><img src="../../../assets/create.svg" class="svg">
            <span class="sideNotes">Edit Labels</span></a>
          <a mat-list-item (click)=ArchiveClicked()><img src="../../../assets/archive.svg" class="svg" >
            <span class="sideNotes">Archive</span></a>
          <a mat-list-item (click)=TrashClicked()><img src="../../../assets/trash.svg" class="svg">
            <span class="sideNotes">Trash</span></a>
          <hr>
        
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content" >
            <router-outlet ></router-outlet>
          
            <mat-card class="profileCard"  *ngIf="clicked">
              <mat-list>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
          <button mat-mini-fab (click)="clicked=!clicked" class="profileButton" 
          [ngStyle]="{'background-image':'url(' +imagepath+ ')','background-size':'cover'}" (click)=changeDp.click()>
          
          <input type="file" value="Upload photo" (change)=fileSelected($event) style="display:none" #changeDp>
    </button>
    
                </div>
                <mat-card-title>{{firstname}} {{lastname}} </mat-card-title>
                <mat-card-subtitle>{{email}}</mat-card-subtitle>
              </mat-card-header>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                  <button mat-stroked-button   class="uploadButton" (click)=changeImg.click()>upload photo</button>
                    <input type="file" value="Upload photo" (change)=fileSelected($event) style="display:none" #changeImg >
                 
                  <button mat-stroked-button (click)=logout() class="refreshButton" >Logout</button>
              </mat-list>
            </mat-card>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>