@import '../../../scss/mixins';
@import '../../../scss/variables';

.card {
    height: auto;
    width: 470px;
    border-radius: 15px;
  }
  
  .note {
    width: 100%;
    height: auto;
    border: none;
    @include fontSize(15px);
    outline: none;
  }
  
  .material-icons {
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      opacity: 1.5;
    }
  }
  
  .take_notes {
    /* position: relative; */
    width: 80%;
    padding: 2px 2px 2px 2px;
    /* outline: none; */
    /* overflow: hidden; */
  }
  
  .matContent {
    padding: 2px 2px 2px 2px;
  }
  
  [contenteditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
    display: block;
    opacity: 0.5;
  }
  
  .icondiv {
    padding-top: 15px;
  }
  
  /* mat-card{
      width:600px;
  } */
  mat-card{
    width:470px;
    border-radius: 15px;
}
.collaboratorCard{
    width:600px;
    height: 500px;
}
.heading{
    @include fontSize(25px);
    
}
.profile-pic {
  @include profilePic;
  @include fontSize(25px);
  font-family: $font
}
.collaboratorDesign{
    @include collaboratorDesign;
}
.myName{
    @include fontSize(20px);
    
}
.myEmail{
    @include fontSize(15px);
   
}
.inputField{
    width:100%;
    outline: none;
    border: none;
}
