<div  fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card>
    <div class="heading">Collaborators</div><hr>
    <div fxLayoutAlign="row wrap" class="collaboratorDesign">
    <div fxFlex=20>
    <button (click)="$event.stopPropagation()" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
              matTooltip="{{firstName | titlecase}} {{lastName | titlecase}}" mat-mini-fab class="profile-pic">
    </button></div>
    <div fxLayout="column" fxFlex=80>
    <mat-content class="myName"><b>{{firstName | titlecase}} {{lastName | titlecase}}</b></mat-content>
    <mat-content class="myEmail"><i>{{email}}</i></mat-content>
    <mat-content class="myEmail"><i>(Owner)</i></mat-content>
    
  </div>
  </div>

  <div *ngFor="let user of collaborators" fxLayoutAlign="row wrap" class="collaboratorDesign">
    <div fxFlex=20>
    <button (click)="$event.stopPropagation()" mat-mini-fab class="profile-pic">{{user.firstName | slice:0:1}}
    </button></div>
    <div fxLayout="column" fxFlex=70>
    <mat-content class="myName"><b>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</b></mat-content>
    <mat-content class="myEmail"><i>{{user.email}}</i></mat-content>
    </div>
    <div fxFlex=10><mat-icon (click)="removeCollaborator(user.userId)" style="cursor: pointer;">close</mat-icon></div>
  </div>

  <div fxLayoutAlign="row wrap" class="collaboratorDesign">
    <div fxFlex=20>
    <button (click)="$event.stopPropagation()" mat-mini-fab class="profile-pic">
      <mat-icon>person_add</mat-icon>
    </button></div>
    <div fxLayout="column" fxFlex=80>
    
    <mat-content class="myEmail">
      <input class="inputField" placeholder="Person or email to share with" (keyup)="searchUser()"
              [(ngModel)]="requestBody.searchWord" [matMenuTriggerFor]="appMenu">
    </mat-content>
    <mat-menu #appMenu="matMenu">
        <button (click)="addCollaborator(item)" mat-button *ngFor="let item of userList">
          {{item.firstName}} {{item.lastName}} ({{item.email}})
        </button>
    </mat-menu>
    
    
  </div>
  </div>
  </mat-card>
</div>