<div fxLayout="column" fxLayoutGap="2%">
        <div fxFlex="0"> </div>
        <div fxFlex="100" fxFlex.xs="0" fxFlex.sm="12" fxFlex.md="24" fxFlex.lg="36" fxFlex.xl="48">
            <div fxLayout="row" fxLayoutAlign="center">
                <div fxFlex="20%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
                <div fxFlex="80% " fxFlex.xs="100%" fxFlex.sm="84" fxFlex.md="68" fxFlex.lg="56">
                    <!-- ---------------Add notes start------------------------ -->
                    <app-add-note [notesArray]="notes" (onNewData)='newNote($event)'></app-add-note>
    
                    <!-- ------------------Add notes end--------------------- -->
                </div>
                <div fxFlex="20%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
            </div>
        </div>
        <div fxFlex="0"> </div>
    </div>
    <div *ngIf="load" class="loader">Loading...</div>

    <!-- <app-note-collection [notesArray]="pinArray" [length]='pinArray.length'
    [string]="'Pinned'" (addEntry)="addNewEntry($event)"></app-note-collection> -->
    
    <app-note-collection *ngIf="!load" [notesArray]="notes" [length]='pinArray.length'
    [string]="'Others'" (addEntry)="addNewEntry($event)"></app-note-collection>

     