<!--***************************Fixed Card With Details******************************************-->
<div class="mainStart">
<div class="mainCard">
  <mat-card>
    <div (click)="close()" class="close_button"><button mat-button>Close</button> </div>
    <!--********** card Duplicate***********-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="card_detail">
        <div class="title">{{title}} </div>
        <div class="description">{{description}}</div>
      </div>
    </div>
    <!--********** card Duplicate***********-->
    <hr>
    <!--********** Question Details**********-->
    <div *ngIf="show==0">
      <textarea class="questInput" placeholder="Enter your question here" [(ngModel)]="body.question"></textarea>
      <div class="close_button"><button (click)="addQuestion()" mat-button>Done</button> </div>
    </div>

    <div *ngIf="show!=0">
      <div class="title"> Question Asked</div>
      <div class="description">{{question}}</div>
    </div>
  </mat-card>
</div>

<!--************** question and replies ******************-->
<div class="movingContainer" *ngIf="show!=0">
  <div class="mainDiv">
    <div fxFlex="row">
      <div fxFlex=5>
        <button [ngStyle]="{'background-image':'url(' +img+qA[0].user.imageUrl+ ')','background-size':'cover'}" mat-mini-fab></button>
      </div>
      <div fxFlex=90 fxFlex="column">
        <span class="userName">{{qA[0].user.firstName | titlecase}} {{qA[0].user.lastName | titlecase}}</span>
        <span class="date">{{qA[0].modifiedDate | date:'medium'}}</span>
        <div fxLayout="row">
          <div class="question" [innerHTML]="qA[0].message"></div>
          <span><mat-icon matTooltip="Reply" (click)="answer(qA[0].id)" class="icon">reply</mat-icon></span>
          <span class="like"><mat-icon matTooltip="Like" class="icon" (click)="like(qA[0])">thumb_up_alt</mat-icon>{{qA[0].like.length}}
            likes
          </span>

          <span class="barRating" *ngIf="checkRating(qA[0].rate)">
            <bar-rating matTooltip="Rate" [(rate)]="rate" [max]="5" (rateChange)="rating(qA[0], $event)"></bar-rating>
            </span>
            <span class="averageRate">{{averageRating(qA[0].rate)}}</span>
        </div>
        <div *ngIf="replyShow && qID==qA[0].id">
          <textarea class="questInput" placeholder="Write a reply..." [(ngModel)]="replyBody.reply"></textarea>
          <div class="reply_button"><button (click)="reply()" mat-button>Reply</button> </div>
        </div>
      </div>
      <div fxFlex=5>

      </div>
    </div>
  </div>

  <div style="margin-left: 120px" *ngFor="let item of qA">
    <div *ngIf="item.parentId==qA[0].id" fxFlex="row">
      <div>
        <div fxFlex=5>
          <button [ngStyle]="{'background-image':'url(' +img+item.user.imageUrl+ ')','background-size':'cover'}" mat-mini-fab></button>
        </div>
        <div fxFlex="column" fxFlex=90>
          <span class="userName">{{item.user.firstName | titlecase}} {{item.user.lastName | titlecase}}</span>
          <span class="date">{{item.modifiedDate | date:'medium'}}</span>
          <div fxLayout="row">
            <div class="reply" [innerHTML]="item.message"></div>
            <span><mat-icon matTooltip="Reply" (click)="answer(item.id)" class="icon">reply</mat-icon></span>
            <span class="like"><mat-icon matTooltip="Like" class="icon" (click)="like(item)">thumb_up_alt</mat-icon>{{item.like.length}}
              likes
            </span>
            <span *ngIf="checkRating(item.rate)">
                <bar-rating matTooltip="Rate" [(rate)]="rate" [max]="5" (rateChange)="rating(item, $event)"></bar-rating>
                </span>
                <span class="averageRate">{{averageRating(item.rate)}}</span>
          </div>
          <div *ngIf="replyShow && qID==item.id">
            <textarea class="questInput" placeholder="Write a reply..." [(ngModel)]="replyBody.reply"></textarea>
            <div class="reply_button"><button (click)="reply()" mat-button>Reply</button> </div>
          </div>
        </div>
        <div fxFlex=5>

        </div>
      </div>


      <div style="margin-left: 70px">
        <div *ngFor="let item2 of qA">
          <div *ngIf="item2.parentId==item.id">
            <div fxFlex="row">
              <div fxFlex=5>
                <button [ngStyle]="{'background-image':'url(' +img+item2.user.imageUrl+ ')','background-size':'cover'}" mat-mini-fab></button>
              </div>
              <div fxFlex=90 fxFlex="column">
                <span class="userName">{{item2.user.firstName | titlecase}} {{item2.user.lastName | titlecase}}</span>
                <span class="date">{{item2.modifiedDate | date:'medium'}}</span>
                <div fxLayout="row">
                  <div class="reply" [innerHTML]="item2.message"></div>
                  <span><mat-icon matTooltip="Reply" (click)="answer(item2.id)" class="icon">reply</mat-icon></span>
                  <span class="like"><mat-icon matTooltip="Like" class="icon" (click)="like(item2)">thumb_up_alt</mat-icon>{{item2.like.length}}
                    likes
                  </span>
                  <span *ngIf="checkRating(item2.rate)">
                      <bar-rating matTooltip="Rate" [(rate)]="rate" [max]="5" (rateChange)="rating(item2, $event)"></bar-rating>
                      </span>
                      <span class="averageRate">{{averageRating(item2.rate)}}</span>
                </div>
                <div *ngIf="replyShow && qID==item2.id">
                  <textarea class="questInput" placeholder="Write a reply..." [(ngModel)]="replyBody.reply"></textarea>
                  <div class="reply_button"><button (click)="reply()" mat-button>Reply</button> </div>
                </div>
              </div>
              <div fxFlex=5>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>