@import '../../../scss/mixins';
@import '../../../scss/variables';

.mainCard{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    }
    .close_button{
    float:right;
    @include fontSize(18px);
    
    }
    .reply_button{
        float:right;
        @include fontSize(18px);
        background: $yellow;
        
        }
    .title{
    font-family: $font;
    @include fontSize(25px);
    font-weight:500;
    }
    .description{
    font-family: $font;
    @include fontSize(20px);
    font-weight:300;
    }
    .profilebutton2{
    width:50px; 
    height:50px; 
    border: none;
    border-radius: 50%;
    background: transparent;
    outline:none;
    
    }
    .questInput{
        outline:none;
        border: none;
        width:100%;
    }
    .replyInput{
        outline:none;
        border: 1px;
        width:600px;
        background: rgba(128, 128, 128, 0.103);
        height: fit-content;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .mainDiv{
        @include qNaOutlet;
    }
    .question{
        @include fontSize(20px);
        font-family: $font;
    }
    .date{
        color: $grey;
        @include fontSize(12px);
        font-family: $font;
        margin-left: 10px
    }
    .userName{
        font-family: $font;
        @include fontSize(20px);
        color: $yellow;
    }
    .icon{
        @include fontSize(22px);
        cursor: pointer;
    }
    .like{
        margin-left: 10px;
    }
    .reply{
        @include fontSize(17px);
        font-family: $font;
    }
    .averageRate{
        margin-top:7px;
    }
    .barRating{
        margin-left: 15px;
        margin-top: -15px;
    }
    .mainStart{
        height:auto;
    }
    .movingContainer{
        overflow: auto;
        height: 550px;
    }
    [contenteditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        display: block;
        opacity: 0.5;
      }
      .replyDiv{
          margin-top: 20px;
      }
   