<!--***************************Fixed Card With Details******************************************-->
<div class="mainCard">
  <mat-card>
  <div (click)="close()" class="close_button"><button mat-button>Close</button> </div>
  <!--********** card Duplicate***********-->
  <div fxLayout="row" fxLayoutAlign="space-between center" >
  <div class="card_detail" >
  <div class="title">{{title}} </div>
  <div class="description">{{description}}</div>
  </div>
  </div>
  <!--********** card Duplicate***********-->
  <hr>
  <!--********** Question Details**********-->
  <div *ngIf="show==0">
  <textarea class="questInput" placeholder="Enter your question here" [(ngModel)]="body.question"></textarea>
  <div class="close_button"><button (click)="addQuestion()" mat-button>Done</button> </div>
  </div>

  <div *ngIf="show!=0">
      <div class="title"> Question Asked</div>
      <div class="description">{{question}}</div>
  </div>
  </mat-card>
  </div>

  <!--************** question and replies ******************-->
<div class="mainDiv">
  <div fxFlex="row">
  <div fxFlex=5>
    <button [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" mat-mini-fab></button>
  </div>
  <div fxFlex=90 fxFlex="column">
      <span class="userName">{{firstName}} {{lastName}}</span>
      <span class="date">{{date | date:'medium'}}</span>
    <div fxLayout="row">
      <div class="question">{{question}}</div>
      <span><mat-icon (click)="answer()" class="icon">reply</mat-icon></span>
      <span class="like"><mat-icon class="icon" (click)="like()">thumb_up_alt</mat-icon>{{likeCount}}</span>
      <span>
        <bar-rating [(rate)]="rate" [max]="5" (click)="rate()" [(ngModel)]="rateBody.rate"></bar-rating>
      </span>
    </div>
    <div *ngIf="replyShow">
      <textarea class="questInput" placeholder="Write a reply..." [(ngModel)]="replyBody.reply"></textarea>
      <div class="close_button"><button (click)="reply()" mat-button>Reply</button> </div>
    </div>

  </div>
  <div fxFlex=5>

  </div>
</div>
</div>
