@import '../../../scss/mixins';
@import '../../../scss/variables';

.mainCard{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    }
    .close_button{
    float:right;
    @include fontSize(18px);
    
    }
    .reply_button{
        float:right;
        @include fontSize(18px);
        background: $yellow;
        
        }
    .title{
    font-family: $font;
    @include fontSize(25px);
    font-weight:500;
    }
    .description{
    font-family: $font;
    @include fontSize(20px);
    font-weight:300;
    }
    .profilebutton2{
    width:50px; 
    height:50px; 
    border: none;
    border-radius: 50%;
    background: transparent;
    outline:none;
    
    }
    .questInput{
        outline:none;
        border: none;
        width:100%;
    }
    .mainDiv{
        @include qNaOutlet;
    }
    .question{
        @include fontSize(20px);
        font-family: $font;
    }
    .date{
        color: $grey;
        @include fontSize(12px);
        font-family: $font;
        margin-left: 10px
    }
    .userName{
        font-family: $font;
        @include fontSize(20px);
        color: $yellow;
    }
    .icon{
        @include fontSize(22px);
        cursor: pointer;
    }
    .like{
        margin-left: 10px;
    }
    .reply{
        @include fontSize(17px);
        font-family: $font;
    }
   