.colorPalette {
    border-radius: 100%;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
  }
  
  .fundoo33 {
    margin-left: 0px;
    opacity: 1;
  }
  
  .colorCard {
    left: 331px;
    margin-top: -692px;
    width: 160px;
    padding: 5px;
  }
  
  .colorDiv {
    margin-bottom: 5px;
    display: flex;
  }