  <div>
  <button mat-icon-button class="fundoo33" matTooltip="Change Color" [matMenuTriggerFor]="menuColor">
      <mat-icon> palette </mat-icon>
  </button>
  <mat-menu #menuColor="matMenu" yPosition="below" [overlapTrigger]="false" class="colorCard">
  <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let colors of colorCodes'>
      <div *ngFor='let color of colors'>
              <button class="color" [ngStyle]="{'background-color': color.colorCode }" (click)='setColor(color.colorCode)' matTooltip="{{color.tooltip}}" mat-mini-fab></button>
      </div>
</div>
</mat-menu>
</div>