@import '../../../scss/mixins';
@import '../../../scss/variables';

.container {
  display: flex;
  flex-direction: column;
  > * {
    width: 70%;
  }
}

.head-text {
  font-family: $font;
  @include fontSize(40px);
  color: $dark-blue;
}

.text {
  font-family: $font;
  @include fontSize(25px);
  color: $grey;
}

.name {
  display: flex;
  flex-direction: row;
  > * {
    width: 60%;
  }
}

.main-card {
  border-radius: 15px;
}

.button-row {
  button, a {
    margin-right: 10px;
    font-family: $font;
  }
}

.blue {
  @include logo($blue)
  
}

.green {
  @include logo($green)
  
}

.yellow {
  @include logo($yellow)
  
}

.red {
  @include logo($red)
  
}

.tagline {
  font-family: $font;
  color: $dark-blue;
}

.container1 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 20px;
  > * {
    width: 100%;
  }
}

.button-row {
  button, a {
    margin-right: 8px;
    margin-top: 5px;
    @include fontSize(16px);
  }
}

.header {
  position: center;
}

.logo {
  color: $dark-blue;
  @include fontSize(30px);
  margin: 2px;
}