@import '../../../scss/mixins';
@import '../../../scss/variables';

.reminderMenu {
    padding: 8px 15px 8px 15px;
    width: 225px;
    box-sizing: none;
    outline: none;
    font-weight: 500;
  }
  
  .timePick-menu {
    padding-right: 16px;
  }
  
  .rem-text {
    @include fontSize(15px);
    font-weight: 500;
  }
  
  .down-button {
    height: 2em;
    width: 2em;
  }
  
  .time-field {
    align-items: baseline;
    width: 100%;
  }
  
  .down-icon {
    height: 1em;
    width: 1em;
    color: $grey;
  }