<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon style="cursor:pointer" matTooltip="Remind Me " aria-label="Remind Me" class="icons">
        notifications</mat-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" class="reminderMenu">
    <div *ngIf="show" class="reminderMenu">
        <div>
            Reminder:
        </div>

        <button mat-menu-item (click)="addRemToday()">
            <div fxFlex="20">Later today</div>
            <div fxFlex="60"></div>
            <div fxFlex="20"><span>8.00 PM</span></div>
        </button>

        <button mat-menu-item (click)="addRemTomorrow()">
            <div fxFlex="20">Tomorrow</div>
            <div fxFlex="60"></div>
            <div fxFlex="20"><span>8.00 AM</span></div>
        </button>

        <button mat-menu-item (click)="addRemNextWeek()">
            <div fxFlex="20">Next week</div>
            <div fxFlex="60"></div>
            <div fxFlex="20"><span>8.00 AM</span></div>
        </button>

        <button mat-menu-item (click)="$event.stopPropagation(); datePickReminder()">
            <div>
                <mat-icon>query_builder</mat-icon>Pick Date and Time
            </div>

        </button>
    </div>

    <div *ngIf="!show" class="reminderMenu">
        <button mat-icon-button (click)="$event.stopPropagation(); backPressDatepicker()">
            <mat-icon>keyboard_backspace</mat-icon>Pick Date and Time
        </button>
        <hr>
        <mat-form-field>
            <input (click)="$event.stopPropagation()" matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
            <mat-form-field (click)="$event.stopPropagation()">
                <mat-select placeholder="Choose time">
                    <mat-option *ngFor="let timing of reminders" [value]="timing.viewTime">
                            <div fxFlex="35">{{timing.viewPeriod}}</div>
                            <div fxFlex="40"></div>
                            <div fxFlex="35"><span>{{timing.viewTime}}</span></div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div><button mat-button>Save</button></div>

    </div>

</mat-menu>