<mat-toolbar class="header">
    <mat-toolbar-row>
      <span fxLayoutAlign='space-around center'>
          <i class="material-icons">
              menu
              </i>
      </span>
      <span class="logo">fundoo</span>
      <i class="material-icons">
          search
          </i>
        <input class="search" placeholder="Search" >
        
          <i class="material-icons refresh">
            refresh
            </i>
            <i class="material-icons notifications">
                notifications
            </i>
            <i class="material-icons accounts">
                account_circle
                </i>
          
     
    </mat-toolbar-row>
  </mat-toolbar>