@import '../../../scss/mixins';
@import '../../../scss/variables';

.spacing2 {
    margin: auto;
    width: 40%;
  }
  
  .spacing3 {
    padding-top: 5%;
  }
  
  .width {
    width: 60%;
    height: fit-content;
  }
  
  .fullWidth {
    width: 100%;
  }
  
  .fields {
    border: none;
    outline: none;
    word-wrap: break-word;
    background: transparent;
  }
  
  [contenteditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: gray;
  }
  
  mat-card {
    width: 480px;
    border-radius: 15px;
  }
  
  .icons {
    padding-left: 10%;
  }
  
  ::ng-deep.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: contents;
    /* padding: 24px; */
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 96%;
    height: 53%;
    max-height: -webkit-fill-available;
  }
  
  .chip {
    background: grey;
    opacity: 0.7;
  }
  
  .my-dialog {
    transform: none;
    opacity: 1;
    padding: 0px;
    border-radius: 0px;
  }
  
  .card {
    height: auto;
    width: 550px;
  }
  
  .divicon {
    padding-top: 10px;
  }
  
  .clearIcon {
    opacity: 1;
  }
  
  .word {
    word-break: break-all;
    border: none;
    background: transparent;
  }

  mat-card{
    width:470px;
    border-radius: 15px;
}
.collaboratorCard{
    width:600px;
    height: 500px;
}
.heading{
    @include fontSize(25px);
    
}
.profile-pic {
  @include profilePic;
  @include fontSize(25px);
  font-family: $font
}
.collaboratorDesign{
    @include collaboratorDesign;
}
.myName{
    @include fontSize(20px);
    
}
.myEmail{
    @include fontSize(15px);
   
}
.inputField{
    width:100%;
    outline: none;
    border: none;
}
