<div class="note" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card style="margin-top: 30px; border-radius:10px" 
            *ngFor="let notes of notesArray | filter: searchNote" 
            [style.backgroundColor]="notes.color">
    <div [ngClass]="{
          'grid-card': !toggle,
          'list-card': toggle
        }">
      <div (click)="openDialog(notes)" (eventUpdate)="nextDelete($event)">
        <mat-card-title [innerHTML]="notes.title"><b>{{notes.title}}</b></mat-card-title>
        <mat-card-content [innerHTML]="notes.description">{{notes.description}}</mat-card-content>
        <div *ngFor="let box of notes.noteCheckLists">
          <mat-checkbox>{{box.itemName}}</mat-checkbox>
        </div>
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <div *ngFor="let item of notes.noteLabels">

              <mat-chip-list>
                <mat-chip class="chip" *ngIf="item.isDeleted==false">{{item.label}}
                  <mat-icon (click)="$event.stopPropagation(); removeLabel(notes.id,item.id)">
                    cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
            <div *ngIf="notes.reminder.length!=0">
                <mat-chip-list>
                    <mat-chip class="chip" >
                        <mat-icon>query_builder</mat-icon>{{notes.reminder | date:'fullDate'}}
                      <mat-icon (click)="$event.stopPropagation()">
                        cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
      </div>

      <div fxLayout="row">
        <div fxLayout="row" style="width:100%">
          <app-add-reminder [noteDetails]="notes" ></app-add-reminder>
          <app-collaborator></app-collaborator>
          <app-change-color [noteDetails]="notes" (eventColor)="nextDelete($event)">
          </app-change-color>
          <app-add-photo></app-add-photo>
          <app-add-archive [noteDetails]="notes" (eventArchive)=nextDelete($event)>
          </app-add-archive>
          <app-more [noteDetails]="notes" (eventDelete)=nextDelete($event)></app-more>
        </div>

      </div>
    </div>
  </mat-card>

</div>