
<div fxLayoutAlign="center">
    <div fxFlex.xs=0 fxFlex.sm=0 fxFlex.md=5 fxFlex.lg=5 fxFlex.xl=10>
   
   </div>
   <div *ngIf="length!=0" fxLayoutAlign="left" style="width:100%">
    <b> {{string}} </b>
   </div>
 
   <div fxFlex.xs=100 fxFlex.sm=100 fxFlex.md=90 fxFlex.lg=90 fxFlex.xl=80 class="note" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
     <mat-card fxFlex.xs=100 fxFlex.sm=40 fxFlex.md=35 fxFlex.lg=25 fxFlex.xl=25 class="card" style="margin-top: 30px; border-radius:10px" *ngFor="let notes of notesArray | filter: searchNote"
               [style.backgroundColor]="notes.color" [ngClass.xl]="toggle ? 'list-card' : 'grid-card'"
               [ngClass.lg]="toggle ? 'list-card' : 'grid-card'" [ngClass.md]="toggle ? 'list-card' : 'grid-card2'"
               [ngClass.sm]="toggle ? 'list-card' : 'grid-card2'" [ngClass.xs]="list-card">
       <!-- <div [ngClass]="{
             'grid-card': !toggle,
             'list-card': toggle
           }"> -->
       <div>
           <mat-card-title [innerHTML]="notes.title" (click)="openDialog(notes)" (eventUpdate)="nextDelete($event)"><b>{{notes.title}}</b></mat-card-title>
           <app-pin (pinEmit)="nextDelete($event)" [pinArray]="notes" ></app-pin>
           <mat-card-content [innerHTML]="notes.description" (click)="openDialog(notes)" (eventUpdate)="nextDelete($event)">{{notes.description}}</mat-card-content>
           <div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
             <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist,notes)></mat-checkbox>
             <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="90%" class="note"
               (click)="openDialog(notes)" [style.backgroundColor]="notes.color" style="border:none">
           </div>
   
           <div class="note" *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
             <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist,notes)></mat-checkbox>
             <del *ngIf="!checklist.isDeleted && checklist.status=='close'" (click)="openDialog(notes)">{{checklist.itemName}}</del>
           </div>
           <mat-card-content>
             <div fxLayout="row wrap" >
               <div class="labelChip" *ngFor="let item of notes.noteLabels">
   
                 <mat-chip-list>
                   <mat-chip class="chip" routerLink="/home/label/{{item.label}}" *ngIf="item.isDeleted==false">{{item.label}}
                     <mat-icon (click)="$event.stopPropagation(); removeLabel(notes.id,item.id)">
                       cancel</mat-icon>
                   </mat-chip>
                 </mat-chip-list>
               </div>
               <div *ngIf="notes.reminder.length!=0">
                 <mat-chip-list>
                    <div *ngFor='let reminder of notes.reminder'>
                        <div *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                          <div *ngIf="!checkReminder(reminder)">
                            <mat-chip>
                                Today, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                                    <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                </span>
                            </mat-chip>
                          </div>
                          <div *ngIf="checkReminder(reminder)">
                              <mat-chip>
                                  <del>Today, {{reminder | date:"mediumTime"}}</del><span style="margin-top:5px">
                                      <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                  </span>
                              </mat-chip>
                            </div>
                        </div>
                
                        <div *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                          <div *ngIf="!checkReminder(reminder)">
                            <mat-chip>
                                Tomorrow, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                                    <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                </span>
                            </mat-chip>
                          </div>
                          <div *ngIf="checkReminder(reminder)">
                              <mat-chip>
                                  <del>Tomorrow, {{reminder | date:"mediumTime"}}</del><span style="margin-top:5px">
                                      <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                  </span>
                              </mat-chip>
                            </div>
                
                        </div>
                        <div *ngIf="(todayDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy') && (tomorrowDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy')">
                            <div *ngIf="checkReminder(reminder)">
                                <mat-chip>
                
                                    <del>{{reminder | date:"medium"}}</del> <span style="margin-top:5px">
                                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                    </span>
                
                                </mat-chip>
                            </div>
                            <div *ngIf="!checkReminder(reminder)">
                                <mat-chip>
                                    {{reminder | date:"medium"}} <span style="margin-top:5px">
                                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                                    </span>
                                </mat-chip>
                
                            </div>
                        </div>
                    </div>
                </mat-chip-list>
               </div>
             </div>
           </mat-card-content>
         </div>
   
         <div fxLayout="row">
           <div fxLayout="row" style="width:100%" class="card-icons">
             <app-add-reminder [noteDetails]="notes" (todayEvent)="addReminder($event)"></app-add-reminder>
             <app-collaborator></app-collaborator>
             <app-change-color [noteDetails]="notes" (eventColor)="nextDelete($event)">
             </app-change-color>
             <app-add-photo></app-add-photo>
             <app-add-archive [noteDetails]="notes" (eventArchive)=nextDelete($event)>
             </app-add-archive>
             <app-more [noteDetails]="notes" (eventDelete)=nextDelete($event)></app-more>
           </div>
   
         </div>
       <!-- </div> -->
     </mat-card>
   
   </div>
   <div fxFlex.xs=0 fxFlex.sm=0 fxFlex.md=5 fxFlex.lg=5 fxFlex.xl=10>
   
     </div>
   </div>