.grid-card{
    min-width:300px;
    max-width:300px;
    min-height:100px;
    // max-width: 300px;
    word-break: break-word;
    border-radius:10px;
}
.grid-card2{
    min-width:300px;
    max-width:300px;
    min-height:100px;
    // max-width: 300px;
    word-break: break-word;
    border-radius:10px;
}
.list-card{
    min-width:100%;
    min-height:100px;
    /* max-width: 300px; */
    overflow-y: auto;
    border-radius:10px;
}
// .note{
    
//     padding:0px;
    
// }
.chip{
    background: grey;
    opacity: 0.7;
    word-break: break-word;
    
}
.reminder-chip{
    width: 90%;
    word-break: break-word;
    opacity: 0.7;
    background: grey;
}
.labelChip{
    margin-bottom: 7px;
}
.card{
    margin-bottom: 20px;
    
}
.card-icons{
    opacity: 0
}
.card-icons:hover{
    opacity: 1
}
// .icons{
//     opacity: 0;
//     padding-top: 15px
// }
// .icons:hover{
//     opacity:1;
//     padding-top: 15px
// }
// .note{
//  word-wrap: break-word;
//  width:120px
//      /* word-break: break-all; */

// }
// .maindiv{
//     /* display:flex; */
//     /* margin-left: 10px; */
//     flex-wrap: wrap;
//     /* padding-top: 10%; */
//     padding-bottom: 15%;
// }
// .material-icons {
//     cursor: pointer;
//     opacity: 0.5;
// }

// .note{
//     width: 100%;
//   height: auto;
//   border:none;
//   /* border-color: transparent; */
//   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
//   outline: none

// }
// .card{
//     margin:1%;
//     height:min-content;border-radius:10px;width:280px;

// }
// .chip{
//     padding-top: 10px
// }
// .layout{
//     width:800px
// }
// .Flayout{
//      margin:1%;
//     height:min-content;border-radius:10px;
//     margin-top:5px;
//     width:100%
// }
// .grid{
// /* width */
// }