.grid-card{
    width:300px;
    // max-width:300px;
    min-height:100px;
    // max-width: 300px;
    word-break: break-word;
    border-radius:10px;
}
.grid-card2{
    width:250px;
    // max-width:250px;
    min-height:100px;
    // max-width: 300px;
    word-break: break-word;
    border-radius:10px;
}
.list-card{
    width:100%;
    min-height:100px;
    /* max-width: 300px; */
    overflow-y: auto;
    border-radius:10px;
}
// @media screen and (min-width:1400px) and (max-width: 1450px){
//     .grid-card{
//         min-width:280px !important;
//         max-width:280px !important;
//     }
// }

// .note{
    
//     padding:0px;
    
// }
.chip{
    background: grey;
    opacity: 0.7;
    word-break: break-word;
    
}
.reminder-chip{
    width: 90%;
    word-break: break-word;
    opacity: 0.7;
    background: grey;
}
.labelChip{
    margin-bottom: 7px;
}
.card{
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.card-icons{
    opacity: 0
}
.card-icons:hover{
    opacity: 1
}