@import '../../../scss/mixins';
@import '../../../scss/variables';

.example-container {
  display: flex;
  flex-direction: column;
}

/* .example-container > * {
  width: 100%;
} */

.fname, .lname {
  width: 50%;
}

.button-row {
  button, a {
    margin-right: 10px;
    font-family: $font;
  }
}

.example-right-align {
  text-align: right;
}

input.example-right-align {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
  -moz-appearance: textfield;
}

.selected {
  background-color: $dark-blue;
}

.notselected {
  background-color: $grey;
}

.card {
  width: 200px;
  height: 220px;
}

.blue {
  @include logo($blue)
}

.green {
  @include logo($green)
}

.yellow {
  @include logo($yellow)
}

.red {
  @include logo($red)
}