<div class="note" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card style="margin-top: 30px">
    <div contenteditable="true" class="fields" id="label" data-text="Create new label"></div>
    <div class="spacing3"></div>


    <div fxLayoutAlign="space-between center" fxLayout="row" *ngFor="let labels of labels">
      <div fxFlex="15">
        <mat-icon (click)=deleteLabel(labels.id)>delete</mat-icon>
      </div>
      <div fxFlex="70" contenteditable="true" class="fields" id="labelUpdate" [innerHTML]="labels.label"></div>
      <div fxFlex="15">
        <mat-icon (click)="updateLabel(labels.id)">edit</mat-icon>
      </div>
    </div>
    <div>
      <button mat-button (click)="onNoClick()">Close</button>
    </div>
  </mat-card>
</div>