<div fxFlex>
  <div fxLayout="column wrap">
    <mat-toolbar color="primary" position="fixed" class="toolbar">
      <span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </span>
      <span class="logo">{{logoName}}</span>
      <i class="material-icons">
        search
      </i>
      <div class="search_flex" routerLink="/home/search">
        <input class="searchbar" aria-label="Search" autocomplete="off" placeholder="Search notes by title, description and labels"
          value="" name="q" role="combobox" type="text" aria-hidden="false" [(ngModel)]="body.data" (keyup)="onKeyUp($event)">
      </div>

      <mat-icon style="cursor: pointer;" matTooltip="Switch to List View" (click)=viewList() *ngIf="grid==0" class="material-icons refresh">view_stream</mat-icon>

      <mat-icon style="cursor: pointer;" matTooltip="Switch to Grid View" (click)="viewGrid()" *ngIf="grid==1" class="material-icons refresh">view_module</mat-icon>

      <mat-menu  #appMenu="matMenu" [overlapTrigger]="false">

        <div fxLayoutAlign="row wrap" class="signout-menu">
          <div fxFlex=30>
            <button (click)="$event.stopPropagation()" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" (click)="selectFile.click()"
              matTooltip="{{firstName | titlecase}} {{lastName | titlecase}}" mat-mini-fab class="profile-pic">
            </button>
            <input style="display:none" (click)="$event.stopPropagation()" class="image" type="file" (change)="onFileUpload($event)"
              #selectFile>
          </div>
          <div fxFlex=70 fxLayout="column">
            <mat-content fxFlex class="contentstyle-name" class="profileName"><b>
                {{firstName | titlecase}} {{lastName | titlecase}}</b> </mat-content>
            <mat-content class="contentstyle-email"><i>{{email}}</i></mat-content>
          </div>
        </div>
        <hr>

        <div fxFlex fxLayoutAlign="center">
          <button (click)="logout()" mat-raised-button color="primary">Logout</button>
        </div>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
      </button>
    </mat-toolbar>


    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async)">
        <mat-nav-list>
          <a (click)="changeLogo('fundoo')" class="circle"  mat-list-item routerLink="/home/notes"><span>
              <mat-icon>add_box</mat-icon></span>
            <span style="padding-left :20px">Note</span>
          </a>
          
          <a (click)="changeLogo('Reminder')" class="circle"  mat-list-item routerLink="/home/reminder"><span>
              <mat-icon>notifications</mat-icon></span>
            <span style="padding-left :20px">Reminder</span>
          </a>
          <hr>

          <a class="circle"  mat-list-item (click)="openDialog()"><span>
              <mat-icon>add</mat-icon></span>
            <span style="padding-left :20px">Labels</span>
          </a>
          <a (click)="changeLogo(labels.label)" class="circle"  *ngFor="let labels of labels" mat-list-item (click)="clickLabel(labels)">
              <span><mat-icon>label</mat-icon> </span>
              <span style="padding-left: 20px">{{labels.label}}</span>
          </a><hr>

          <a (click)="changeLogo('Archive')" class="circle"  mat-list-item routerLink="/home/archieve"><span style="padding-left:0px;">
              <mat-icon>archive</mat-icon></span>
            <span style="padding-left :20px">Archive</span>
          </a>
          <a (click)="changeLogo('Trash')" class="circle"  mat-list-item routerLink="/home/trash"><span style="padding-left:0px;">
              <mat-icon>delete</mat-icon></span>
            <span style="padding-left :20px">Trash</span></a>

        </mat-nav-list>
      </mat-sidenav>
      <div>
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-container>
  </div>

</div>