<div fxFlex>
  <div fxLayout="column wrap">
    <mat-toolbar class="toolbar">
      <span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </span>

      <span class="logo">fundoo</span>
      <i class="material-icons">
        search
      </i>
      <div class="search_flex" routerLink="/home/search">
        <input class="searchbar" aria-label="Search" autocomplete="off" 
              placeholder="Search for notes" value="" name="q" role="combobox"
          type="text" aria-hidden="false" [(ngModel)]="body.data" (keyup)="onKeyUp($event)">
      </div>
     
      <i class="material-icons refresh">
        refresh
      </i>
      
      <mat-icon style="cursor: pointer;" matTooltip="Switch to List View" (click)=viewList() 
                *ngIf="grid==0" class="material-icons refresh">view_stream</mat-icon>
   
        <mat-icon style="cursor: pointer;" matTooltip="Switch to Grid View" (click)="viewGrid()" 
                  *ngIf="grid==1" class="material-icons refresh">view_module</mat-icon>

      <mat-menu #appMenu="matMenu" [overlapTrigger]="false">

        <div fxLayoutAlign="row wrap" >
        <div fxFlex=20> 
        <button (click) = "$event.stopPropagation()" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" 
                (click)="selectFile.click()" matTooltip="fundoo Account" 
                mat-mini-fab class="profile-pic">
        </button>
        <input style="display:none" (click) = "$event.stopPropagation()" class="image" 
                type="file" (change)="onFileUpload($event)" #selectFile>
        </div>
        <mat-content fxFlex class="contentstyle" style="margin-top:5px;float:left" ><b>
                      {{firstName | titlecase}} {{lastName | titlecase}}</b> </mat-content>
        </div><br>
        <mat-content class="contentstyle">{{email}}</mat-content><hr>
        <div fxLayoutAlign="row wrap" class="add" fxLayoutGap=85px>
        <button fxFlex class="addaccount" routerLink="/signup">Add account</button>
        <button fxFlex class="logout" (click)="logout()">Log out </button></div>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu" 
              [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
      </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
      <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-nav-list>
          <a mat-list-item routerLink="/home/notes"><span style="padding-left:0px">
            <mat-icon>add_box</mat-icon></span>
            <span style="padding-left :20px">Note</span>
          </a>
          <a mat-list-item routerLink="/home/reminder"><span style="padding-left:0px;">
            <mat-icon>notifications</mat-icon></span>
            <span style="padding-left :20px">Reminder</span>
          </a>
          <hr>

          <a mat-list-item (click)="openDialog()"><span style="padding-left:0px;">
            <mat-icon>add</mat-icon></span>
            <span style="padding-left :20px">Labels</span>
          </a>
          <div *ngFor="let labels of labels">
            <div fxLayout="row">
              <span><mat-icon>label</mat-icon> </span>
              <span><a mat-list-item>{{labels.label}}</a></span>
            </div>
          </div>
          <hr>
          <a mat-list-item routerLink="/home/archieve"><span style="padding-left:0px;">
            <mat-icon>archive</mat-icon></span>
            <span style="padding-left :20px">Archive</span>
          </a>
          <a mat-list-item routerLink="/home/trash"><span style="padding-left:0px;">
            <mat-icon>delete</mat-icon></span>
            <span style="padding-left :20px">Trash</span></a>

        </mat-nav-list>

      </mat-sidenav>

      <mat-sidenav-content style="height:100vh">

        <router-outlet></router-outlet>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>