<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#4285f4"
type="ball-scale-multiple">
</ngx-spinner>
<div fxLayout='column' fxLayoutGap='13%'>
  <div fxFlex='38%'></div>
  <div fxFlex='24%'>
    <div fxLayout='row'>
      <div fxFlex='38%' fxFlex.xs='0' fxFlex.sm='8' fxFlex.md='16' fxFlex.lg='33'></div>

      <div fxFlex='24%' fxFlex.xs='100' fxFlex.sm='84' fxFlex.md='68' fxFlex.lg='34' >
        <mat-card class="main-card">
          <div fxLayoutAlign='center'>
            <p class="logo">
              <span style="color: #4285f4; font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">F</span>
              <span style="color: #ea4335; font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">U</span>
              <span style="color: #fbbc05;font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">N</span>
              <span style="color: #4285f4; font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">D</span>
              <span style="color: #34a853; font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">O</span>
              <span style="color: #ea4335; font-family:'Gill Sans', 'Gill Sans MT'; font-size: 50px">O</span>
            </p>
          </div>
          <div class='head-text' fxLayoutAlign='center' style="font-size: 20px">
            Reset Your Password
          </div><br><br>
          <div   class="container" fxLayoutAlign='space-around center' fxLayout='column' [formGroup]="resetForm" >
            <mat-form-field>
              <input type='password' matInput placeholder="New Password" [type]="hide ? 'text' : 'password'" formControlName="newPassword" [(ngModel)]="body.newPassword" required>
              
              <mat-error *ngIf="resetForm.controls.newPassword.hasError('required')">
                Please enter password
              </mat-error>
              <mat-error *ngIf="resetForm.controls.newPassword.hasError('minLength')">
                Password should contain 6-15 characters
              </mat-error>
              <mat-error *ngIf="resetForm.controls.newPassword.hasError('maxLength')">
                Password should contain 6-15 characters
              </mat-error>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>    
            </mat-form-field><br>
            </div>
            
          <div class='button-row button,button-row a' fxLayoutAlign='space-around center'>
            <button mat-raised-button color="primary" (click)='reset()' >Next</button>
            <nav>
              <a routerLink="/login">Login</a>
            </nav>
          </div>
        </mat-card>
      </div>

      <div fxFlex='38%' fxFlex.xs='0' fxFlex.sm='8' fxFlex.md='16' fxFlex.lg='33'></div>
    </div>
  </div>
  <div fxFlex='38%'></div>
</div>