.container {
  display: flex;
  flex-direction: column;
  > * {
    width: 70%;
  }
}

.head-text {
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 40px;
  color: blue;
}

.text {
  font-family: Arial, Helvetica;
  font-size: 25px;
  color: grey;
}

.name {
  display: flex;
  flex-direction: row;
  > * {
    width: 60%;
  }
}

.main-card {
  border-radius: 15px;
}

.button-row {
  button, a {
    margin-right: 10px;
    font-family: "Gill Sans", "Gill Sans MT";
  }
}

.blue {
  color: #4285f4;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 50px;
}

.green {
  color: #34a853;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 50px;
}

.yellow {
  color: #fbbc05;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 50px;
}

.red {
  color: #ea4335;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 50px;
}